/* common css */
html {
    touch-action: manipulation;
    height: 100%;
}

body {
    background: #bebebe;
}

.inner {
    height: 100%;
    padding: 30px;
    margin: 0 auto;
    max-width: 768px;
    font-size: 100%;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    color: #222;
    background: #f7f7f7;
    box-shadow: 0 0 8px gray;
}

h2 {
    margin-bottom: 30px;
    font-size: 100%;
    color: #222;
    text-align: center;
}

/* テキストボックス周辺 */

label {
    margin-bottom: 7px;
    font-size: 86%;
}

input[type="text"] {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 86%;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
    width: 100%;
}

input[type="text"][disabled] {
    border: 1px solid #ccc;
    background: #DCDCDC;
    cursor: not-allowed;
    /* 禁止カーソル */
}

input[type="password"] {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 86%;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
    width: 100%;
}

/* ボタン */

input[type="submit"] {
    width: 100%;
    margin-bottom: 20px;
    appearance: none;
    -webkit-appearance: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 86%;
    line-height: 1.0em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #37a1e5;
    text-align: center;
}

input[type=submit]:hover {
    background-color: #2392d8;
}

button {
    font-size: 86%;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 3px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

button:hover {
    background-color: rgb(233, 233, 233);
}

button[disabled] {
    border: 1px solid #ccc;
    background: #DCDCDC;
    cursor: not-allowed;
    /* 禁止カーソル */
}

/* セレクトボックス */

select {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 86%;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
}

.container:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 18px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    transform: translateY(-50%) rotate(-135deg);
    font-size: 20px;
    pointer-events: none;
}

.message {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #ef072d;
    list-style-type: none;
    border-radius: 10px;
    border: 1px solid #ff5f79;
}

@media screen and (max-width:768px) {

    /* この中にタブレットサイズ以下のスタイル */
    .inner {
        padding: 30px 5%;
    }
}