/* ヘッダー */
.header {
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
}

.header_bar {
    background: #222;
    width: 100%;
    top: 0;
    height: 44px;
    padding: 10px;
    z-index: 100;
}

h1 {
    font-size: 100%;
    color: #fff;
}

/* ドロップダウンメニュー */
.hamburger_menu {
    display: flex;
    align-items: center;
}

.menu-btn {
    position: fixed;
    top: 0;
    right: 10px;
    display: flex;
    height: 44px;
    width: 44px;
    justify-content: center;
    align-items: center;
    background-color: #222;
    margin: 0;
    z-index: 100;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked~.menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    /*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked~.menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked~.menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

.menu-content {
    width: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    background-color: #222;
    transition: all 0.5s;
}


.menu-content ul {
    padding: 70px 0 0;
}

.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 100%;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 10px;
    position: relative;
}

.menu-content ul .logout a {
    background: #ef072d;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

#menu-btn-check:checked~.menu-content {
    top: 0;
    /*メニューを画面内へ*/
}

/* ここまでヘッダー */