h2 {
    margin: 30px 0;
}

/* ラベル */
.date {
    display: block;
}

/* セレクトボックス */

.container-date {
    position: relative;
    width: 90%;
}

.container-date:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 42px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    transform: translateY(-50%) rotate(-135deg);
    font-size: 20px;
    pointer-events: none;
}

.select-flex {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

/* ボタン */

#send {
    margin: 0 10%;
    margin-bottom: 20px;
}

#reset {
    width: 100%;
    margin: 0 10%;
    margin-bottom: 20px;
    appearance: none;
    -webkit-appearance: none;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    font-size: 86%;
    line-height: 1.0em;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;
    
}

#reset:hover {
    background-color: rgb(233, 233, 233);
}

.search {
    background: #fff;
}

.choice {
    margin: 30px;
}

.button-flex {
    display: flex;
    margin: 0px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
/* 表 */

#table-name {
    font-size: 100%;
    margin-bottom: 10px;
}

table {
    border-radius: 3px;
}

.content-table {
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border: solid 1px #778ca3;
    border-radius: 3px;
    border-spacing: 0;
    font-size: 86%;
    overflow: hidden;
}

.content-table tr:nth-child(2n+1) {
    background: #daf5f2;
}

.content-table th {
    padding: 10px;
    background: #778ca3;
    border-bottom: solid 1px #778ca3;
    color: #ffffff;
}

.content-table td:first-child {
    border-left: none;
}

.content-table td {
    padding: 10px;
    border-left: solid 1px #778ca3;
    border-bottom: solid 1px #778ca3;
}

.content-table tr:last-child td{
    border-bottom: none;
}

@media screen and (max-width:768px) {

    /* この中にタブレットサイズ以下のスタイル */
    .inner {
        padding: 30px 5%;
    }

    .container-date {
        width: 95%;
    }
    .content-table {
        font-size: 60%;
    }
}